In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ae51d2cf731265144907902d3e9bb16f2b41989b0e873fba154242a40d57af33
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [4]:
training=spark.read.csv('/content/heart.csv',header=True,inferSchema=True)

In [5]:
training.show()

+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+
|age|sex| cp|trtbps|chol|fbs|restecg|thalachh|exng|oldpeak|slp|caa|thall|output|
+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+
| 63|  1|  3|   145| 233|  1|      0|     150|   0|    2.3|  0|  0|    1|     1|
| 37|  1|  2|   130| 250|  0|      1|     187|   0|    3.5|  0|  0|    2|     1|
| 41|  0|  1|   130| 204|  0|      0|     172|   0|    1.4|  2|  0|    2|     1|
| 56|  1|  1|   120| 236|  0|      1|     178|   0|    0.8|  2|  0|    2|     1|
| 57|  0|  0|   120| 354|  0|      1|     163|   1|    0.6|  2|  0|    2|     1|
| 57|  1|  0|   140| 192|  0|      1|     148|   0|    0.4|  1|  0|    1|     1|
| 56|  0|  1|   140| 294|  0|      0|     153|   0|    1.3|  1|  0|    2|     1|
| 44|  1|  1|   120| 263|  0|      1|     173|   0|    0.0|  2|  0|    3|     1|
| 52|  1|  2|   172| 199|  1|      1|     162|   0|    0.5|  2|  0|    3|     1|
| 57|  1|  2|   150| 168|  0|      1|     174|   0|    1.6|  2|  0|    2|     1|
| 54|  1|  0|   140| 239|  0|      1|     160|   0|    1.2|  2|  0|    2|     1|
| 48|  0|  2|   130| 275|  0|      1|     139|   0|    0.2|  2|  0|    2|     1|
| 49|  1|  1|   130| 266|  0|      1|     171|   0|    0.6|  2|  0|    2|     1|
| 64|  1|  3|   110| 211|  0|      0|     144|   1|    1.8|  1|  0|    2|     1|
| 58|  0|  3|   150| 283|  1|      0|     162|   0|    1.0|  2|  0|    2|     1|
| 50|  0|  2|   120| 219|  0|      1|     158|   0|    1.6|  1|  0|    2|     1|
| 58|  0|  2|   120| 340|  0|      1|     172|   0|    0.0|  2|  0|    2|     1|
| 66|  0|  3|   150| 226|  0|      1|     114|   0|    2.6|  0|  0|    2|     1|
| 43|  1|  0|   150| 247|  0|      1|     171|   0|    1.5|  2|  0|    2|     1|
| 69|  0|  3|   140| 239|  0|      1|     151|   0|    1.8|  2|  2|    2|     1|
+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+
only showing top 20 rows

In [6]:
training.columns

['age',
 'sex',
 'cp',
 'trtbps',
 'chol',
 'fbs',
 'restecg',
 'thalachh',
 'exng',
 'oldpeak',
 'slp',
 'caa',
 'thall',
 'output']

In [7]:
from pyspark.ml.feature import VectorAssembler

In [8]:
feature=VectorAssembler(inputCols=['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall'],outputCol='Independent features')

In [9]:
output=feature.transform(training)

In [10]:
output.show()

+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+--------------------+
|age|sex| cp|trtbps|chol|fbs|restecg|thalachh|exng|oldpeak|slp|caa|thall|output|Independent features|
+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+--------------------+
| 63|  1|  3|   145| 233|  1|      0|     150|   0|    2.3|  0|  0|    1|     1|[63.0,1.0,3.0,145...|
| 37|  1|  2|   130| 250|  0|      1|     187|   0|    3.5|  0|  0|    2|     1|[37.0,1.0,2.0,130...|
| 41|  0|  1|   130| 204|  0|      0|     172|   0|    1.4|  2|  0|    2|     1|[41.0,0.0,1.0,130...|
| 56|  1|  1|   120| 236|  0|      1|     178|   0|    0.8|  2|  0|    2|     1|[56.0,1.0,1.0,120...|
| 57|  0|  0|   120| 354|  0|      1|     163|   1|    0.6|  2|  0|    2|     1|[57.0,0.0,0.0,120...|
| 57|  1|  0|   140| 192|  0|      1|     148|   0|    0.4|  1|  0|    1|     1|[57.0,1.0,0.0,140...|
| 56|  0|  1|   140| 294|  0|      0|     153|   0|    1.3|  1|  0|    2|     1|[56.0,0.0,1.0,140...|
| 44|  1|  1|   120| 263|  0|      1|     173|   0|    0.0|  2|  0|    3|     1|[44.0,1.0,1.0,120...|
| 52|  1|  2|   172| 199|  1|      1|     162|   0|    0.5|  2|  0|    3|     1|[52.0,1.0,2.0,172...|
| 57|  1|  2|   150| 168|  0|      1|     174|   0|    1.6|  2|  0|    2|     1|[57.0,1.0,2.0,150...|
| 54|  1|  0|   140| 239|  0|      1|     160|   0|    1.2|  2|  0|    2|     1|[54.0,1.0,0.0,140...|
| 48|  0|  2|   130| 275|  0|      1|     139|   0|    0.2|  2|  0|    2|     1|[48.0,0.0,2.0,130...|
| 49|  1|  1|   130| 266|  0|      1|     171|   0|    0.6|  2|  0|    2|     1|[49.0,1.0,1.0,130...|
| 64|  1|  3|   110| 211|  0|      0|     144|   1|    1.8|  1|  0|    2|     1|[64.0,1.0,3.0,110...|
| 58|  0|  3|   150| 283|  1|      0|     162|   0|    1.0|  2|  0|    2|     1|[58.0,0.0,3.0,150...|
| 50|  0|  2|   120| 219|  0|      1|     158|   0|    1.6|  1|  0|    2|     1|[50.0,0.0,2.0,120...|
| 58|  0|  2|   120| 340|  0|      1|     172|   0|    0.0|  2|  0|    2|     1|[58.0,0.0,2.0,120...|
| 66|  0|  3|   150| 226|  0|      1|     114|   0|    2.6|  0|  0|    2|     1|[66.0,0.0,3.0,150...|
| 43|  1|  0|   150| 247|  0|      1|     171|   0|    1.5|  2|  0|    2|     1|[43.0,1.0,0.0,150...|
| 69|  0|  3|   140| 239|  0|      1|     151|   0|    1.8|  2|  2|    2|     1|[69.0,0.0,3.0,140...|
+---+---+---+------+----+---+-------+--------+----+-------+---+---+-----+------+--------------------+
only showing top 20 rows

In [11]:
finaldata=output.select('Independent features','output')
finaldata.show()

+--------------------+------+
|Independent features|output|
+--------------------+------+
|[63.0,1.0,3.0,145...|     1|
|[37.0,1.0,2.0,130...|     1|
|[41.0,0.0,1.0,130...|     1|
|[56.0,1.0,1.0,120...|     1|
|[57.0,0.0,0.0,120...|     1|
|[57.0,1.0,0.0,140...|     1|
|[56.0,0.0,1.0,140...|     1|
|[44.0,1.0,1.0,120...|     1|
|[52.0,1.0,2.0,172...|     1|
|[57.0,1.0,2.0,150...|     1|
|[54.0,1.0,0.0,140...|     1|
|[48.0,0.0,2.0,130...|     1|
|[49.0,1.0,1.0,130...|     1|
|[64.0,1.0,3.0,110...|     1|
|[58.0,0.0,3.0,150...|     1|
|[50.0,0.0,2.0,120...|     1|
|[58.0,0.0,2.0,120...|     1|
|[66.0,0.0,3.0,150...|     1|
|[43.0,1.0,0.0,150...|     1|
|[69.0,0.0,3.0,140...|     1|
+--------------------+------+
only showing top 20 rows

In [12]:
from pyspark.ml.regression import LinearRegression

In [13]:
train_data,test_data=finaldata.randomSplit([0.75,0.25])

In [14]:
reg=LinearRegression(featuresCol='Independent features',labelCol='output')

In [15]:
reg=reg.fit(train_data)

In [16]:
reg.coefficients

DenseVector([-0.0015, -0.2054, 0.1243, -0.0014, -0.0003, 0.0313, 0.0519, 0.0013, -0.1694, -0.0642, 0.0998, -0.1022, -0.0796])

In [17]:
reg.intercept

0.9277563047814851

In [18]:
Pred_result=reg.evaluate(test_data)

In [19]:
Pred_result = Pred_result.predictions.show()

+--------------------+------+-------------------+
|Independent features|output|         prediction|
+--------------------+------+-------------------+
|(13,[0,1,3,4,7,10...|     0| 0.6294304407943132|
|(13,[0,1,3,4,7,10...|     1| 0.7055417779507772|
|(13,[0,3,4,7,9,10...|     1| 0.6706512534696265|
|(13,[0,3,4,7,9,10...|     1| 0.6021679214105825|
|(13,[0,3,4,7,9,11...|     0|0.18135804330872185|
|[35.0,1.0,0.0,120...|     0| 0.2591628965623658|
|[37.0,0.0,2.0,120...|     1| 1.2110834955039513|
|[37.0,1.0,2.0,130...|     1| 0.5802783072004734|
|[41.0,0.0,1.0,130...|     1| 0.9301320558946823|
|[41.0,1.0,1.0,120...|     1| 0.9069933013088552|
|[41.0,1.0,2.0,112...|     1| 1.0140552091383053|
|[42.0,0.0,2.0,120...|     1| 1.1093982909571398|
|[42.0,1.0,0.0,136...|     0| 0.3339461778667916|
|[42.0,1.0,0.0,140...|     1| 0.7285280768433522|
|[42.0,1.0,1.0,120...|     1| 0.8418458283609745|
|[42.0,1.0,3.0,148...|     1| 0.7772584111833315|
|[44.0,0.0,2.0,118...|     1|  0.946733531200914|
|[44.0,1.0,0.0,120...|     0| 0.2544876280847266|
|[44.0,1.0,1.0,130...|     1| 0.8277022804973525|
|[44.0,1.0,2.0,130...|     1| 0.7928620686294279|
+--------------------+------+-------------------+
only showing top 20 rows

In [20]:
Pred_result = reg.transform(train_data)
Pred_result

DataFrame[Independent features: vector, output: int, prediction: double]

In [21]:
selected_columns = ['Independent features','output', 'prediction']
result = Pred_result.select(selected_columns)

In [22]:
result.show()

+--------------------+------+--------------------+
|Independent features|output|          prediction|
+--------------------+------+--------------------+
|(13,[0,1,3,4,7,10...|     1|  0.7087265811641794|
|(13,[0,1,3,4,7,10...|     1|  0.6474405823438703|
|(13,[0,2,3,4,7,10...|     1|   1.208417953761511|
|(13,[0,2,3,4,7,10...|     1|  1.1331899036996993|
|(13,[0,2,3,4,7,10...|     1|  1.0913036362021027|
|(13,[0,3,4,6,7,10...|     1|  0.9062930042823507|
|(13,[0,3,4,6,7,10...|     1|  0.9114387353624704|
|(13,[0,3,4,7,8,10...|     1|  0.5701472532921851|
|(13,[0,3,4,7,9,10...|     1|  0.7129352025830876|
|(13,[0,3,4,7,9,10...|     1|  0.6972736416554713|
|(13,[0,3,4,7,9,11...|     0|-0.18894244144606998|
|(13,[0,3,4,7,10,1...|     1|  0.7286752132504329|
|(13,[0,3,4,7,10,1...|     1|  0.8804692623896908|
|(13,[0,3,4,7,10,1...|     1|  0.8420796538902253|
|(13,[0,3,4,7,10,1...|     0|  0.8282483360868526|
|[29.0,1.0,1.0,130...|     1|  0.8730549283950565|
|[34.0,0.0,1.0,118...|     1|   1.080219982547501|
|[34.0,1.0,3.0,118...|     1|  1.0995822300029514|
|[35.0,0.0,0.0,138...|     1|  0.8742421199847769|
|[35.0,1.0,0.0,126...|     0|  0.4138569476691609|
+--------------------+------+--------------------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import mean, pow

# Calculate the mean squared error using the agg() method
mean_squared_error = Pred_result.agg(mean(pow(Pred_result['output'] - Pred_result['prediction'], 2))).collect()[0][0]

# Print the mean squared error
print("Mean squared error:", mean_squared_error)

Mean squared error: 0.12349030809549483

In [27]:
import pandas as pd
result_pd = result.toPandas()

In [28]:
result_pd.to_csv('Predictions.csv', index=False)

In [29]:
###now to separate the independent values to visualize

data = pd.read_csv('/content/Predictions.csv')
df = pd.DataFrame(data)

In [30]:
df.head

<bound method NDFrame.head of                                   Independent features  output  prediction
0    (13,[0,1,3,4,7,10,12],[45.0,1.0,115.0,260.0,18...       1    0.708727
1    (13,[0,1,3,4,7,10,12],[59.0,1.0,138.0,271.0,18...       1    0.647441
2    (13,[0,2,3,4,7,10],[53.0,2.0,128.0,216.0,115.0...       1    1.208418
3    (13,[0,2,3,4,7,10,12],[54.0,2.0,108.0,267.0,16...       1    1.133190
4    (13,[0,2,3,4,7,10,12],[63.0,2.0,135.0,252.0,17...       1    1.091304
..                                                 ...     ...         ...
214  [71.0,0.0,1.0,160.0,302.0,0.0,1.0,162.0,0.0,0....       1    0.713894
215  [71.0,0.0,2.0,110.0,265.0,1.0,0.0,130.0,0.0,0....       1    0.984556
216  [74.0,0.0,1.0,120.0,269.0,0.0,0.0,121.0,1.0,0....       1    0.614578
217  [76.0,0.0,2.0,140.0,197.0,0.0,2.0,116.0,0.0,1....       1    0.937066
218  [77.0,1.0,0.0,125.0,304.0,0.0,0.0,162.0,1.0,0....       0    0.127545

[219 rows x 3 columns]>

In [31]:
df = df.drop(df.index[:18])

# Reset the index if you want the index to start from 0 again
df = df.reset_index(drop=True)

# Display the resulting DataFrame
print(df)

                                  Independent features  output  prediction
0    [35.0,0.0,0.0,138.0,183.0,0.0,1.0,182.0,0.0,1....       1    0.874242
1    [35.0,1.0,0.0,126.0,282.0,0.0,0.0,156.0,1.0,0....       0    0.413857
2    [35.0,1.0,1.0,122.0,192.0,0.0,1.0,174.0,0.0,0....       1    0.893014
3    [38.0,1.0,2.0,138.0,175.0,0.0,1.0,173.0,0.0,0....       1    0.584027
4    [38.0,1.0,2.0,138.0,175.0,0.0,1.0,173.0,0.0,0....       1    0.584027
..                                                 ...     ...         ...
196  [71.0,0.0,1.0,160.0,302.0,0.0,1.0,162.0,0.0,0....       1    0.713894
197  [71.0,0.0,2.0,110.0,265.0,1.0,0.0,130.0,0.0,0....       1    0.984556
198  [74.0,0.0,1.0,120.0,269.0,0.0,0.0,121.0,1.0,0....       1    0.614578
199  [76.0,0.0,2.0,140.0,197.0,0.0,2.0,116.0,0.0,1....       1    0.937066
200  [77.0,1.0,0.0,125.0,304.0,0.0,0.0,162.0,1.0,0....       0    0.127545

[201 rows x 3 columns]

In [32]:
import ast

def extract_values(row):
    try:
        # Safely evaluate the string as a literal node or string representation of Python literals
        values = ast.literal_eval(row)
        age = values[0] if isinstance(values[0], (int, float)) else None
        sex = values[1] if isinstance(values[1], (int, float)) else None
        cp = values[2] if isinstance(values[2], (int, float)) else None
        trtbps = values[3] if isinstance(values[3], (int, float)) else None
        chol = values[4] if isinstance(values[4], (int, float)) else None
        fbs = values[5] if isinstance(values[5], (int, float)) else None
        restecg = values[6] if isinstance(values[6], (int, float)) else None
        thalachh = values[7] if isinstance(values[7], (int, float)) else None
        exng = values[8] if isinstance(values[8], (int, float)) else None
        oldpeak = values[9] if isinstance(values[9], (int, float)) else None
        slp = values[10] if isinstance(values[10], (int, float)) else None
        caa = values[11] if isinstance(values[11], (int, float)) else None
        thall = values[12] if isinstance(values[12], (int, float)) else None

        return pd.Series({'Age': age, 'Sex': sex, 'CP': cp, 'TRTBPS': trtbps, 'CHOL' : chol, 'FBS': fbs, 'RESTECG': restecg,
                          'THALACHH': thalachh, 'EXNG': exng, 'OLDPEAK': oldpeak, 'SLP': slp, 'CAA': caa, 'THALL': thall})
    except (ValueError, IndexError):
        return pd.Series({'Age': None, 'Sex': None, 'CP': None, 'TRTBPS': None, 'CHOL' : None, 'FBS': None, 'RESTECG': None,
                          'THALACHH': None, 'EXNG': None, 'OLDPEAK': None, 'SLP': None, 'CAA': None, 'THALL': None})

In [33]:
# Apply the function to create new columns
df[['Age', 'Sex', 'CP', 'TRTBPS', 'CHOL', 'FBS', 'RESTECG','THALACHH', 'EXNG', 'OLDPEAK', 'SLP', 'CAA', 'THALL']] = df['Independent features'].apply(extract_values)

In [34]:
print(df)

                                  Independent features  output  prediction  \
0    [35.0,0.0,0.0,138.0,183.0,0.0,1.0,182.0,0.0,1....       1    0.874242
1    [35.0,1.0,0.0,126.0,282.0,0.0,0.0,156.0,1.0,0....       0    0.413857
2    [35.0,1.0,1.0,122.0,192.0,0.0,1.0,174.0,0.0,0....       1    0.893014
3    [38.0,1.0,2.0,138.0,175.0,0.0,1.0,173.0,0.0,0....       1    0.584027
4    [38.0,1.0,2.0,138.0,175.0,0.0,1.0,173.0,0.0,0....       1    0.584027
..                                                 ...     ...         ...
196  [71.0,0.0,1.0,160.0,302.0,0.0,1.0,162.0,0.0,0....       1    0.713894
197  [71.0,0.0,2.0,110.0,265.0,1.0,0.0,130.0,0.0,0....       1    0.984556
198  [74.0,0.0,1.0,120.0,269.0,0.0,0.0,121.0,1.0,0....       1    0.614578
199  [76.0,0.0,2.0,140.0,197.0,0.0,2.0,116.0,0.0,1....       1    0.937066
200  [77.0,1.0,0.0,125.0,304.0,0.0,0.0,162.0,1.0,0....       0    0.127545

      Age  Sex   CP  TRTBPS   CHOL  FBS  RESTECG  THALACHH  EXNG  OLDPEAK  \
0    35.0  0.0  0.0   138.0  183.0  0.0      1.0     182.0   0.0      1.4
1    35.0  1.0  0.0   126.0  282.0  0.0      0.0     156.0   1.0      0.0
2    35.0  1.0  1.0   122.0  192.0  0.0      1.0     174.0   0.0      0.0
3    38.0  1.0  2.0   138.0  175.0  0.0      1.0     173.0   0.0      0.0
4    38.0  1.0  2.0   138.0  175.0  0.0      1.0     173.0   0.0      0.0
..    ...  ...  ...     ...    ...  ...      ...       ...   ...      ...
196  71.0  0.0  1.0   160.0  302.0  0.0      1.0     162.0   0.0      0.4
197  71.0  0.0  2.0   110.0  265.0  1.0      0.0     130.0   0.0      0.0
198  74.0  0.0  1.0   120.0  269.0  0.0      0.0     121.0   1.0      0.2
199  76.0  0.0  2.0   140.0  197.0  0.0      2.0     116.0   0.0      1.1
200  77.0  1.0  0.0   125.0  304.0  0.0      0.0     162.0   1.0      0.0

     SLP  CAA  THALL
0    2.0  0.0    2.0
1    2.0  0.0    3.0
2    2.0  0.0    2.0
3    2.0  4.0    2.0
4    2.0  4.0    2.0
..   ...  ...    ...
196  2.0  2.0    2.0
197  2.0  1.0    2.0
198  2.0  1.0    2.0
199  1.0  0.0    2.0
200  2.0  3.0    2.0

[201 rows x 16 columns]

In [35]:
df.to_csv('Predictions_updated.csv', index=False)